gradio==3.30.0
langchain==0.0.174
torch==2.0.1
pypinyin==0.49.0
nltk==3.8.1
transformers==4.29.1
streamlit==1.22.0
pyecharts==2.0.3
streamlit_echarts==0.4.0
sentence-transformers==2.2.2
cpm_kernels==1.0.11